body {
    font-family: Montserrat;
    background-image: url('../imgs/fondo.jpg');
    background-size: cover; 
}

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

section{
    background-color: rgb(0, 0, 0, 0.7);
    height: auto;
    width:  auto;
    margin: 0 auto;
    padding: 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

section h1 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}

section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

section form input {
    font-size: 1.2rem;
    display: block;
    margin: 1.5rem auto;
    align-items: center;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
}

section form button {
    transition:  background-color 0.3s ease, color 0.3s ease;
    font-family: Montserrat;
    font-size: 1.2rem;
    border: none;
    background-color: lightblue;
    height: 2.5rem;
    width: auto;
    margin: 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
    color: black;
    flex-basis: 50%;
    align-self: center;
}

section form button:hover {
    color: white;
    background-color: darkgray;
    cursor: pointer;
}

section p a{
    color: lightblue
}

section p a:hover{
    color: white
}

.input-dropdown {
    position: relative;
    width: fit-content;
    margin: 1.5rem auto;
}

#rolInput {
    cursor: pointer;
    background-color: white;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 999;
    font-family: Montserrat;
    overflow: hidden;
}

.dropdown-options div {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dropdown-options div:hover {
    background-color: lightblue;
}

.dropdown-options.active {
    display: block;
}
